:root {
  --rosa: rgb(254, 198, 152);
  --gris: rgb(211, 196, 184);
}

*{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
  background-image: url(../assets/tourism.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}

.nav-bar {
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
  }


/* NAVEGACION DE TODOS LOS HTML */

.container {
  display: flex;
  justify-content: center;
  gap: 10px;
  
}
/* ----------------------------------------------------------------- */
.container-biografia, .container-portfolio, .container-contacto {
  display: flex;
  justify-content: center;
  gap: 5px;
  
}

/* ----------------------------------------------------------------------- */


.cuadrado {
  width: 300px;
  height: 300px;
  border: 1px solid black;
  border-radius: 15px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
/* -------------------------------------------------------------------------------- */
.cuadrado-biografia, .cuadrado-portfolio, .cuadrado-contacto {
  width: 200px;
  height: 50px;
  border: 1px solid black;
  border-radius: 15px;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
/* --------------------------------------------------------------------------- */

h1 {
  text-align: center;
}

.home{
  background-color: rgba(254, 198, 152, 0.8);
}
.home:hover {
  background-color: rgb(254, 198, 152);
  border: 2px solid black;
}

.biografia{
  background-color: rgba(211, 196, 184, 0.8);
}

.biografia:hover {
  background-color: rgb(211, 196, 184);
  border: 2px solid black;
}


.portfolio{
  background-color: rgba(211, 196, 184, 0.8);
}

.portfolio:hover {
  background-color: rgb(211, 196, 184);
  border: 2px solid black;
}

.portfolio-contacto {
  background-color: rgba(254, 198, 152, 0.8);
}
.portfolio-contacto:hover {
  background-color: rgb(254, 198, 152);
  border: 2px solid black;
}

.contacto{
  background-color: rgba(254, 198, 152, 0.8);
}
.contacto:hover {
  background-color: rgb(254, 198, 152);
  border: 2px solid black;
}


.enlaces {
  font-size: 30px;
  color: white;
  text-decoration: none;
}

footer {
  text-align: center;
  margin-top: 30px;
}



  /* BIOGRAFIA */
.div-imagenes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  
}

.imagenes-biografia {
  width: 200px;
  height: 150px;
}



.bodyBiografia, .bodyPortfolio {
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
  margin-right: 10%;
  margin-left: 10%;
  background-color: rgba(255, 255, 255, 0.3);
}

.bodyContacto {
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
  margin-right: 10%;
  margin-left: 10%;
}




/* CONTACTO */





fieldset{
  padding-left: 20px;
  padding-bottom: 20px;
  background-color: var(--rosa);
  border-radius: 20px;
}

legend {
  background-color: var(--gris);
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
}

.home2{
  background-color: var(--rosa);
  padding: 30px;
  padding-left: 100px;
  padding-right: 100px;
  border: 1px solid black;
  border-radius: 20px;
}

.biografia2 {
  background-color: var(--gris);
  padding: 30px;
  border: 1px solid black;
  border-radius: 20px;
  padding-left: 100px;
  padding-right: 100px;
}
.portfolio2{
  background-color: var(--rosa);
  padding: 30px;
  border: 1px solid black;
  border-radius: 20px;
  padding-left: 100px;
  padding-right: 100px;
}

.contacto2{
  background-color: var(--gris);
  padding: 30px;
  border: 1px solid black;
  border-radius: 20px;
  padding-left: 100px;
  padding-right: 100px;
}

.palabrasNavBio {
  color: white;
  text-decoration: none;
}


.divBotones {
  text-align: center;
  margin: 10px;
  
}

.botones {
  color: black;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--gris);
}

.botones:hover {
  cursor: pointer;
  background-color: var(--rosa);
  border: 2px solid white;
}

.mediaPortfolio {
  max-width: 30%;
}

.educacion {
  display: flex;
  justify-content: space-around;
}

.texto-educacion, .texto-experienciaLaboral {
  line-height: 2;
}